---
import Layout from '../../layouts/Layout.astro';
import Banner from '../../components/Banner.astro';
import Carousel from '../../components/Carousel.astro';
import Intro from '../../components/Intro.astro';
import Navbar from '../../components/Navbar.astro';
import Eventos from '../../components/EventosUnicos.astro';
import ServiciosDestacados from '../../components/ServiciosDestacados.astro';
import Locaciones from '../../components/Locaciones.astro';
import VideoSection from '../../components/VideoSection.astro';
import ArtistasEspectaculos from '../../components/ArtistasEspectaculos.astro';
import HistoriasEventos from '../../components/HistoriasEventos.astro';
import TurismoBlock from '../../components/TurismoBlock.astro';
import BlogsSection from '../../components/BlogsSection.astro';
import BrandInfo from '../../components/BrandInfo.astro';
import Footer from '../../components/Footer.astro';

const lang = 'en';
---



<Layout title="Tu San Agustín - Events & Weddings" lang={lang}>
	<Navbar lang={lang} />
	<main class="min-h-screen">

		<Banner lang={lang} />
		<Eventos lang={lang} />
		<ServiciosDestacados lang={lang} />
		<Locaciones lang={lang} />
		<VideoSection lang={lang} />
		<ArtistasEspectaculos lang={lang} />
		<HistoriasEventos lang={lang} />

		<Intro lang={lang} />

		<div class="md:my-16"></div>
		<Carousel lang={lang} />

		<div class="md:my-16"></div>
		<TurismoBlock lang={lang} />

		<div class="md:my-16"></div>
		<BlogsSection lang={lang} />


		<div class="my-0 md:my-10"></div>
		<BrandInfo lang={lang} />
		<Footer lang={lang} />
	</main>
</Layout>
